@use '../styles/Mixins/' as *;

.App {
  display: grid;
  width: max-content;
}

.app-content {
  display: grid;
  row-gap: 1rem;
  margin: 0.6rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--background-color);
  grid-auto-rows: max-content;
  width: $app-width;
  height: $app-height;
  min-width: min-content;
}

.app-console {
  z-index: 9999;
}
