-i https://download.pytorch.org/whl/cu113
psutil
opencv-python>=4.6.0
pudb
invisible-watermark
imageio
imageio-ffmpeg
pytorch-lightning
omegaconf
test-tube
streamlit
einops
torch-fidelity
transformers
torchmetrics
kornia
natsort
-e git+https://github.com/w4ffl35/taming-transformers.git#egg=taming-transformers
-e git+https://github.com/w4ffl35/CLIP.git#egg=clip
-e git+https://github.com/albumentations-team/albumentations#egg=albumentations