[data-theme='light'] {
  // General Colors
  --white: rgb(255, 255, 255);

  // App Colors
  --root-bg-color: rgb(255, 255, 255);
  --background-color: rgb(220, 222, 224);
  --background-color-secondary: rgb(204, 206, 208);

  --text-color: rgb(0, 0, 0);
  --text-color-secondary: rgb(40, 40, 40);

  --subtext-color: rgb(24, 24, 34);
  --subtext-color-bright: rgb(142, 144, 146);

  --border-color: rgb(200, 200, 200);
  --border-color-light: rgb(147, 147, 147);

  --invalid: rgb(255, 75, 75);
  --invalid-secondary: rgb(120, 5, 5);

  // Error status colors
  --border-color-invalid: rgb(255, 80, 50);
  --box-shadow-color-invalid: none;

  --svg-color: rgb(186, 188, 190);

  // Progress Bar Color
  --progress-bar-color: rgb(235, 185, 5);

  // Prompt Box Colors
  --prompt-bg-color: rgb(225, 227, 229);
  --prompt-border-color: rgb(0, 0, 0);
  --prompt-box-shadow-color: rgb(217, 217, 217);

  // Button Colors
  --btn-svg-color: rgb(0, 0, 0);

  --btn-grey: rgb(220, 222, 224);
  --btn-grey-hover: rgb(230, 232, 234);

  --btn-purple: rgb(235, 185, 5);
  --btn-purple-hover: rgb(255, 200, 0);

  --btn-red: rgb(237, 51, 51);
  --btn-red-hover: rgb(255, 55, 55);

  --btn-load-more: rgb(202, 204, 206);
  --btn-load-more-hover: rgb(178, 180, 182);

  // Switch
  --switch-bg-color: rgb(178, 180, 182);
  --switch-bg-active-color: rgb(235, 185, 5);

  // Tabs
  --tab-color: rgb(202, 204, 206);
  --tab-hover-color: rgb(206, 208, 210);
  --tab-list-bg: rgb(235, 185, 5);
  --tab-list-text: rgb(0, 0, 0);
  --tab-list-text-inactive: rgb(106, 108, 110);
  --tab-panel-bg: rgb(214, 216, 218);

  // Metadata Viewer
  --metadata-bg-color: rgba(230, 230, 230, 0.9);
  --metadata-json-bg-color: rgba(0, 0, 0, 0.1);

  // Status Message
  --status-good-color: rgb(21, 126, 0);
  --status-good-glow: var(--background-color);
  --status-working-color: rgb(235, 141, 0);
  --status-working-glow: var(--background-color);
  --status-bad-color: rgb(202, 0, 0);
  --status-bad-glow: var(--background-color);

  // Settings Modal
  --settings-modal-bg: rgb(202, 204, 206);

  // Input
  --input-checkbox-bg: rgb(90, 90, 120);
  --input-checkbox-checked-bg: rgb(235, 185, 5);
  --input-checkbox-checked-tick: rgb(0, 0, 0);

  // Console
  --error-level-info: rgb(42, 42, 42);
  --error-level-warning: rgb(173, 121, 0);
  --error-level-error: rgb(145, 14, 0);
  --console-bg-color: rgb(220, 224, 230);
  --console-border-color: rgb(160, 162, 164);
  --console-icon-button-bg-color: var(--switch-bg-color);
  --console-icon-button-bg-color-hover: var(--console-border-color);

  // Img2Img
  --img2img-img-bg-color: rgb(180, 182, 184);

  // Gallery
  --gallery-resizeable-color: rgb(192, 194, 196);
}
