@font-face {
  font-family: 'Inter';
  src: url(../assets/fonts/Inter/Inter.ttf);
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url(../assets/fonts/Inter/Inter-Bold.ttf);
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}
