.hoverable-image {
  display: flex;
  justify-content: center;
  transition: transform 0.2s ease-out;

  &:hover {
    cursor: pointer;
    border-radius: 0.5rem;
    z-index: 2;
  }

  .hoverable-image-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
  }

  .hoverable-image-content {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

    .hoverable-image-check {
      fill: var(--status-good-color);
    }
  }

  .hoverable-image-icons {
    position: absolute;
    bottom: -2rem;
    display: grid;
    width: min-content;
    grid-template-columns: repeat(2, max-content);
    border-radius: 0.4rem;
    background-color: var(--background-color-secondary);
    padding: 0.2rem;
    gap: 0.2rem;
    grid-auto-rows: max-content;

    button {
      width: 12px;
      height: 12px;
      border-radius: 0.2rem;
      padding: 10px 0;
      flex-shrink: 2;
      svg {
        width: 12px;
        height: 12px;
      }
    }
  }
}
