@use '../../styles/Mixins/' as *;

.image-gallery-area {
  .image-gallery-popup-btn {
    position: absolute;
    top: 50%;
    right: 1rem;
    border-radius: 0.5rem 0 0 0.5rem;
    padding: 0 0.5rem;
    @include Button(
      $btn-width: 1rem,
      $btn-height: 6rem,
      $icon-size: 20px,
      $btn-color: var(--btn-grey),
      $btn-color-hover: var(--btn-grey-hover)
    );
  }
}

.image-gallery-popup {
  background-color: var(--tab-color);
  padding: 1rem;
  animation: slideOut 0.3s ease-out;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  border-radius: 0.5rem;
  border-left-width: 0.2rem;
  min-width: 300px;
  border-color: var(--gallery-resizeable-color);
}

.image-gallery-header {
  display: flex;
  align-items: center;

  h1 {
    font-weight: bold;
  }
}

.image-gallery-close-btn {
  background-color: var(--btn-load-more) !important;
  &:hover {
    background-color: var(--btn-load-more-hover) !important;
  }
}

.image-gallery-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: $app-gallery-popover-height;
  overflow-y: scroll;
  @include HideScrollbar;
}

.masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: 0.5rem; /* gutter size offset */
  width: auto;
}
.masonry-grid_column {
  padding-left: 0.5rem; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.masonry-grid_column > .hoverable-image {
  /* change div to reference your elements you put in <Masonry> */
  background: var(--tab-color);
  margin-bottom: 0.5rem;
}

// .image-gallery {
//   display: flex;
//   grid-template-columns: repeat(auto-fill, minmax(80px, auto));
//   gap: 0.5rem;
//   justify-items: center;
// }

.image-gallery-load-more-btn {
  background-color: var(--btn-load-more) !important;
  font-size: 0.85rem !important;
  font-family: Inter;

  &:disabled {
    &:hover {
      background-color: var(--btn-load-more) !important;
    }
  }

  &:hover {
    background-color: var(--btn-load-more-hover) !important;
  }
}

.image-gallery-container-placeholder {
  display: flex;
  background-color: var(--background-color-secondary);
  border-radius: 0.5rem;
  place-items: center;
  padding: 2rem 0;

  p {
    color: var(--subtext-color-bright);
    font-family: Inter;
  }

  svg {
    width: 5rem;
    height: 5rem;
    color: var(--svg-color);
  }
}
